.container {
    position: relative;
    min-height: 100px;
    border-radius: var(--spacing-xs);
    padding: var(--spacing-xs);
    background: #fff;
    margin-bottom: var(--spacing-xs);
    box-shadow: var(--elevation-medium);
}

.header {
    display: flex;
    justify-content: space-between;
    padding-right: var(--spacing-m);
}

.title {
    font-size: var(--spacing-s);
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.editBtn {
    position: absolute;
    top: 4px;
    right: 0;
}

.removeBtn {
    position: absolute;
    bottom: 0;
    right: 0;
}

.description {
    font-size: 14px;
    margin: 0;
}
