.container {
    position: relative;
    min-height: 100px;
    border-radius: 8px;
    border: 2px solid grey;
    padding: 8px;
    background: #fff;
    margin-bottom: 8px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-right: 24px;
}

.title {
    font-size: 16px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.editBtn {
    position: absolute;
    top: 4px;
    right: 0;
}

.removeBtn {
    position: absolute;
    bottom: 0;
    right: 0;
}

.description {
    font-size: 14px;
    margin: 0;
}
