.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 10;
}

.container {
    display: flex;
    align-items: center;
    max-width: 500px;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #ffffff;
    padding: 16px;
    border-radius: 8px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.body {
    display: flex;
    flex-direction: column;
    flex: 1
}

.footer {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 16px;
}

.footer > * {
    margin: 4px;
}
